* {
  margin: 0;
  box-sizing: border-box;
}

html {
  background-image: url(./fundo.jpg);
}

.container {
  width: 80%;
  max-width: 400px;
  margin-inline: auto;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: sans-serif;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0px 15px 50px black;
}

h1 {
  margin-top: -30px;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 0.8;
  text-align: center;
  font-family: sans-serif;
}

.board {
  display: flex;
  width: 312px;
  flex-wrap: wrap;
  margin: 10px;
  opacity: 1;
  align-items: center;
}

.board.gameOver {
  opacity: 0.3;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 40px;
}

.cell.O {
  background-color: #2a9d8f;
}

.cell.X {
  background-color: #ffa366;
}

button {
  width: 200px;
  grid-area: button;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-top: 15px;
  height: 40px;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  background-color: #bebebe;
  color: #202120;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #80ff80;
  color: white;
  box-shadow: 0px 15px 20px rgba(71, 71, 71, 0.4);
  transform: translateY(-7px);
}